data-source-api/src/__pycache__/__init__.cpython-312.pyc
data-source-api/src/__pycache__/sensor.cpython-312.pyc
.gitignore
data-source-api/src/__pycache__/utilities.cpython-312.pyc
data-source-api/src/__pycache__/variables.cpython-312.pyc
terraform/.terraform.lock.hcl
terraform/.terraform/modules/modules.json
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/terraform-provider-google_v5.45.2_x5
terraform/modules/cloud-run/.terraform.lock.hcl
terraform/modules/cloud-run/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/LICENSE.txt
terraform/modules/cloud-run/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/terraform-provider-google_v5.45.2_x5
terraform/platform/.terraform.lock.hcl
terraform/platform/.terraform/modules/modules.json
terraform/platform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/LICENSE.txt
.gitignore
terraform/platform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/terraform-provider-google_v5.45.2_x5
terraform/platform/data/.terraform/terraform.tfstate
terraform/platform/data/.terraform/modules/modules.json
terraform/platform/data/.terraform/providers/registry.terraform.io/hashicorp/google/7.16.0/linux_amd64/LICENSE.txt
terraform/platform/data/.terraform/providers/registry.terraform.io/hashicorp/google/7.16.0/linux_amd64/terraform-provider-google_v7.16.0_x5
terraform/platform/data/.terraform.lock.hcl
terraform/platform/data/.terraform/*
data-source-api/__pycache__/main.cpython-312.pyc
terraform/platform/applications/.terraform.lock.hcl
terraform/platform/applications/.terraform/*
terraform/platform/applications/data-source-api/.terraform/terraform.tfstate
terraform/platform/applications/data-source-api/.terraform/modules/modules.json
terraform/platform/applications/data-source-api/.terraform/providers/registry.terraform.io/hashicorp/google/7.17.0/linux_amd64/LICENSE.txt
terraform/platform/applications/data-source-api/.terraform/providers/registry.terraform.io/hashicorp/google/7.17.0/linux_amd64/terraform-provider-google_v7.17.0_x5
terraform/platform/applications/data-jobs/.terraform/providers/registry.terraform.io/hashicorp/google/7.17.0/linux_amd64/terraform-provider-google_v7.17.0_x5
terraform/platform/applications/data-source-api/.terraform.lock.hcl
terraform/platform/applications/data-jobs/.terraform/terraform.tfstate
.gitignore
terraform/platform/applications/data-jobs/.terraform/providers/registry.terraform.io/hashicorp/google/7.17.0/linux_amd64/LICENSE.txt
terraform/platform/applications/data-jobs/.terraform/modules/modules.json
terraform/platform/applications/data-jobs/.terraform.lock.hcl
