data-source-api/src/__pycache__/__init__.cpython-312.pyc
data-source-api/src/__pycache__/sensor.cpython-312.pyc
.gitignore
data-source-api/src/__pycache__/utilities.cpython-312.pyc
data-source-api/src/__pycache__/variables.cpython-312.pyc
terraform/.terraform.lock.hcl
terraform/.terraform/*
terraform/modules/cloud-run/.terraform.lock.hcl
terraform/modules/cloud-run/.terraform/*
terraform/platform/.terraform/modules/modules.json
terraform/platform/.terraform/providers/registry.terraform.io/hashicorp/google/5.45.2/linux_amd64/LICENSE.txt
.gitignore
terraform/platform/.terraform/*
terraform/platform/data/.terraform/*
terraform/platform/data/.terraform.lock.hcl
terraform/platform/data/.terraform/*
data-source-api/__pycache__/main.cpython-312.pyc
terraform/platform/applications/.terraform.lock.hcl
terraform/platform/applications/.terraform/*
terraform/platform/applications/data-source-api/.terraform/*
terraform/platform/applications/data-source-api/.terraform.lock.hcl
.gitignore
terraform/platform/applications/data-jobs/.terraform/*
terraform/platform/.terraform.lock.hcl
terraform/platform/applications/data-jobs/.terraform.lock.hcl
